<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:replace="fragments/home_header::home_header"/>

<style>
    .container-main{
        display: table;
        margin-left: auto;
        margin-right: auto ;
    }
</style>
<body>

    <div class="container container-main">

        <div class="mainmenu">
            <h1>통큰 경매 관리자 페이지</h1>

            <form role="form" action="/admin/create" method="POST">
                <p>
                    <button class="btn btn-lg btn-info btn-size" type="submit">방 생성하기</button>
                </p>
            </form>

            <form role="form" action="/admin/connecting" method="GET">
                <p>
                    <button class="btn btn-lg btn-info btn-size">접속중인 유저</button>
                </p>
            </form>
            <h2>품목 관리</h2>
            <p class="lead">GRAIN</p>
            <p>
                <a class="btn btn-lg btn-info btn-size-half">품목 업데이트 상황</a>
                <a class="btn btn-lg btn-info btn-size-half">채팅방 상황</a>
            </p>

            <p class="lead">FRUIT</p>
            <p>
                <a class="btn btn-lg btn-info btn-size-half">품목 업데이트 상황</a>
                <a class="btn btn-lg btn-info btn-size-half">채팅방 상황</a>
            </p>

            <p class="lead">VEGETABLE</p>
            <p>
                <a class="btn btn-lg btn-info btn-size-half">품목 업데이트 상황</a>
                <a class="btn btn-lg btn-info btn-size-half">채팅방 상황</a>
            </p>

            <p class="lead">FISH</p>
            <p>
                <a class="btn btn-lg btn-info btn-size-half">품목 업데이트 상황</a>
                <a class="btn btn-lg btn-info btn-size-half">채팅방 상황</a>
            </p>

            <p class="lead">MEAT</p>
            <p>
                <a class="btn btn-lg btn-info btn-size-half">품목 업데이트 상황</a>
                <a class="btn btn-lg btn-info btn-size-half">채팅방 상황</a>
            </p>

        </div>
<!--
        <div th:replace="fragments/footer :: footer"/>
        -->
    </div>
</body>
</html>